version: "3.9"

services:
  backend:
    build: ./GreenBite-backend
    container_name: greenbite-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./GreenBite-backend:/app
    env_file:
    - ./GreenBite-backend/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_NAME=greenbite
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432

  db:
    image: postgres:15
    container_name: greenbite-db
    environment:
      POSTGRES_DB: greenbite
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

volumes:
  postgres_data:
