# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env/
.venv/
.env
env/
venv/
ENV/
.env

media/

# Django stuff
db.sqlite3
media/
staticfiles/
*.log

# Celery beat schedule file
celerybeat-schedule

# Env files (secrets)
.env

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Migrations cache (optional to ignore)
# **/migrations/*.py[cod]
# Celery beat schedule file
celerybeat-schedule