/* .dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
} */
.layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: red !important;
}
.div:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.div:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
